
td.middle:hover {
    background-color: #808080;
    cursor: pointer;
}

td.middle1:hover {
    background-color: #c0bcbc;
    cursor: pointer;
}



a.teamListing {
    color: #212529;
}

dl.inline dd {
    display: inline;
    margin: 0;
}

dl.inline dd:after {
        display: block;
        content: '';
    }

dl.inline dt {
    display: inline-block;
    min-width: 100px;
}