h2 {
    margin: 0;
    color: #252525;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 600;
    margin-left: 0.83px;
    margin-right: 0.83px;
}

a{
    cursor: pointer;
}

.predtitle {
    padding: 7px;
    text-align: center;
    background-color: #efefef;
    border-radius: 5px;
    margin: 10px;
    
}

div{
    display: block;
}

.base-box{
    border:0;
}

.clublink{
    color:#000;
}

.blog-post {
    position: relative;
    padding-bottom: 0;
    background-color: #fff;
}

body{
    color: #303030;
}

a:link, a:visited{
    outline: 0;
    text-decoration:none;
}

.bp-entry {
    float:none;
    width:auto;
    margin-right: 0;
    font-size: 14px;
    line-height: 1.6em;
}