@model SoccerSolutionsApp.Web.ViewModels.Fixtures.FixturesByDateInputModel;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["TodayDate"] = DateTime.UtcNow.ToString("dd-mm-yyyy");
}



<h3>
    Select date
</h3>
<br />
<form action="GET">
    <input asp-for="Date" asp-controller="Fixtures" asp-action="ByName" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="Date" id="datepicker" />
    <hr />
    <input type="submit" value="Search" class="btn btn-primary" asp-controller="Fixtures" asp-action="ByDate" />
</form>




<script>

    $(document).ready(
        $(function () {
            var currentDate = new Date();

            $('#datepicker1').datepicker({
                inline: true,
                showOtherMonths: true,
                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                dateFormat: 'dd/mm/yy',
                setDate: currentDate
            });
        }))

    $.fn.datepicker.noConflict()
</script>

