@model SoccerSolutionsApp.Web.ViewModels.Fixtures.FixturesByDateInputModel;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["TodayDate"] = DateTime.UtcNow.ToString("dd-mm-yyyy");
}

@using (Html.BeginForm())
{
    <h3>
        Select date
    </h3>
    <input asp-for="Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" id="datepicker" placeholder="dd.mm.yyyy">
    <hr>
    <input type="submit" value="Search" class="btn btn-primary" asp-controller="Fixtures" asp-action="FixturesByDate" />
}


@section Scripts {
    <script>
        $(document).ready(
            function () {

                $("#datepicker").datepicker('option', {
                    minDate: "08.08.2010", maxDate: "08.08.2022"
                });
            })
    </script>
}
