@model SoccerSolutionsApp.Web.ViewModels.Predictions.PredictionsInputViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PredictionsInputViewModel</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <textarea asp-for="Title" class="form-control"></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prediction" class="control-label"></label>
                <input asp-for="Prediction" class="form-control" />
                <span asp-validation-for="Prediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamLogo" class="control-label"></label>
                <input asp-for="HomeTeamLogo" class="form-control" />
                <span asp-validation-for="HomeTeamLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamLogo" class="control-label"></label>
                <input asp-for="AwayTeamLogo" class="form-control" />
                <span asp-validation-for="AwayTeamLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
