@model SoccerSolutionsApp.Web.ViewModels.Teams.CreateTeamViewModel

@{
    ViewData["Title"] = "Create";
    var countries = Model.Countries.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h1>Create</h1>

<h4>Add Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CountryId">Country</label>
                <select asp-for="CountryId" asp-items="@countries" class="btn btn-secondary dropdown-toggle"></select>
            </div>
            <hr />
            <input type="submit" value="Create" class="btn btn-secondary dropdown-toggle" />

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
